/*************************************************/
/* General usage styles*/
/*************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.section-padding {
  padding: 9.8rem 0;
}
/* SECTION HEADER */
.head-text {
  text-align: center;
  width: 48rem;
}
.flex-to-center-head-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-head {
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4.8rem;
  position: relative;
}
.section-head::after {
  content: "";
  background-color: #333;
  position: absolute;
  bottom: -2.4rem;
  left: 19.2rem;
  width: 10rem;
  height: 0.1rem;
}
.section-head::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #333;
  bottom: 0;
  left: 23.5rem;
  bottom: -2.4rem;
  transform: translateY(+50%);
  z-index: 999;
}
.section-head-text {
  font-size: 1.6rem;
  color: #777;
  line-height: 2;
  margin-bottom: 9.8rem;
}

/*************************************************/
/* Header */
/*************************************************/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* TO make sure it appers on top*/
  z-index: 100;
}
.header-container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}
.header-container::after {
  content: "";
  position: absolute;
  left: 2.4rem;
  bottom: -0.1rem;
  height: 0.1rem;
  width: calc(100% - 4.8rem);
  background-color: #a2a2a2;
}
nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.logo img {
  height: 4.2rem;
}
.list {
  display: flex;
  list-style: none;
}
.search {
  position: relative;
  width: 4rem;
  height: 3.8rem;
  border-left: 1px solid #fff;
}
.search-icon {
  height: 2rem;
  width: 2rem;
  stroke: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.list li a:link,
.list li a:visited {
  padding: 3.6rem 1.2rem;
  /* We make padding here not in the container in order to make border touch the line*/
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  z-index: 99;
}
.list li a:hover,
.list li a:active,
.list li .active:link,
.list li .active:visited {
  color: #19c8f8;
  border-bottom: 1px solid currentColor;
}
/* Mobile navigation style*/
.icon-mobile-nav {
  color: #fff;
  width: 3.6rem;
  height: 3.6rem;
  display: none;
}
@media (max-width: 50em) {
  .icon-mobile-nav {
    padding: 3.6rem 0;
    transition: all 0.3s;
    display: block;
  }
  .icon-mobile-nav:hover {
    color: #19c8f8;
    cursor: pointer;
  }
  .search {
    display: none;
  }
  .list {
    display: none;
  }
  .icon-mobile-nav:hover + .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.461);
  }
  .icon-mobile-nav:hover + .list a {
    /* In case Active mobil nav*/
    padding: 1.6rem 0.8rem !important;
  }
}

/*************************************************/
/* Hero */
/*************************************************/

.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 5)),
    url("../images/landing.jpg");
  height: 100vh;
  position: relative;
}
.text-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 4.8rem 2.4rem;
  background-color: rgba(24, 109, 132, 0.7);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
.hero-text {
  width: 64.6%;
}
.hero-text h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.hero-text p {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 3.2rem;
}
.left-arr-hero {
  width: 4.2rem;
  height: 4.2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.right-add-hero {
  width: 4.2rem;
  height: 4.2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.bollet-points {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 1.2rem;
  list-style: none;
  padding-bottom: 2.4rem;
}
.bollet-point {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.bollet-points .active {
  background-color: #19c8f8;
}
@media (max-width: 50em) {
  .hero-text {
    padding: 4.8rem 2.4rem;
  }
  .hero-text,
  .text-container {
    width: 100%;
  }
}

/*************************************************/
/* Services */
/*************************************************/
.section-serivces {
  background-color: #fff;
}
.services-grid {
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9.8rem;
  row-gap: 4.8rem;
  padding: 0 4.8rem;
}
.serives-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6.4rem;
}
.services-sub-head {
  color: #19c8f8;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
.services-text {
  font-size: 1.2rem;
  color: #777;
  line-height: 2;
}
.services-icon {
  display: block;
  color: #333;
  width: 6rem;
  height: 6rem;
}

/* Our design */
.section-our-design {
  position: relative;
  height: 50rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/design-features.jpg");
  background-size: cover;
  overflow: hidden;
}
.design-text-container {
  background-color: rgba(24, 109, 132, 0.7);
  position: absolute;
  width: 50%;
  padding: 4.8rem 2.4rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /* To make text start from left*/
  display: flex;
  justify-content: flex-start;
}
.our-disign-text {
  width: 100%;
  color: #fff;
  padding-left: 4.8rem;
}
.our-disign-text h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
}
.our-disign-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.design-item {
  display: flex;
  gap: 2.4rem;
}
.design-item p {
  font-size: 1.6rem;
}
.design-icon {
  width: 2rem;
  height: 2rem;
}
.design-figure {
  position: absolute;
  width: 100%;
  height: 100%;
}
.design-img {
  position: absolute;
  left: 10%;
  bottom: -20%;
  width: 20%;
}
/**
/*************************************************/
/* protfolio */
/*************************************************/
.gallary-menu {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  margin-bottom: 4.8rem;
}
.gallary-menu li a:link,
.gallary-menu li a:visited {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  padding: 1.2rem;
}
.gallary-menu li .active-gallary:link,
.gallary-menu li .active-gallary:visited {
  background-color: #19c8f8;
  color: #fff;
}
.gallary-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  margin-bottom: 4.8rem;
}
.img-gallary-container {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
}
.gallary-img-text {
  position: absolute;
  bottom: 0;
  padding: 1.6rem;
  transform: translateY(100%);
  transition: all 0.5s;
  z-index: 99;
  height: 30%;
  width: 100%;
  background-color: #fff;
}
.head-img {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1.2rem;
}
.info-img {
  font-size: 1.6rem;
  color: #19c8f8;
}
.img-gallary-container:hover .gallary-img-text {
  transform: translateY(0);
}
.gallary-img {
  transition: all 0.5s;
  width: 100%;
}
.img-gallary-container:hover .gallary-img {
  transform: scale(1.2) rotate(3deg);
}
.more {
  margin-bottom: 9.8rem;
}
.btn-more {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  background-color: #19c8f8;
  padding: 1.2rem 1.2rem;
  text-transform: uppercase;
}
/*************************************************/
/* video */
/*************************************************/
.video,
.section-vedio {
  position: relative;
  overflow: hidden;
}
.section-vedio {
  height: 100vh;
}
.video::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.video-text {
  position: absolute;
  width: 100%;
  background-color: rgba(24, 109, 132, 0.7);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 4.8rem;
  color: #fff;
}
.video-text h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.video-text p {
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
}
.video-text button {
  border: none;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}
.video-text button:hover {
  background-color: #eee;
}
/*************************************************/
/* About us */
/*************************************************/
.about-heading {
  position: relative;
  height: 50rem;
  overflow: hidden;
}
.about-img-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.about-img-container img {
  position: absolute;
  width: 80rem;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
}
.about-info-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/stats.jpg");
  background-size: cover;
  height: 40rem;
  position: relative;
}
.about-info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(24, 109, 132, 0.7);
  width: 120rem;
  height: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.2rem;
  background-color: #000000;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.about-num {
  font-size: 4.4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.4rem;
}
.about-text {
  font-size: 1.6rem;
  color: #fff;
}
/*************************************************/
/* testomonials */
/*************************************************/
.testomonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 4.8rem;
  column-gap: 9.8rem;
  row-gap: 6.8rem;
  padding-bottom: 9.8rem;
}
.testomonials-heading,
.skills-heading {
  text-align: center;
}
.testomonials-heading h3,
.skills-heading h3 {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #333;
}
.testomonials-heading p,
.skills-heading p {
  color: #777;
  font-size: 1.6rem;
  line-height: 1.8;
}
.tstnl-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.tstnl-item {
  display: flex;
  gap: 4.8rem;
}
.tstnl-img {
  height: 9.6rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.tstnl-text {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #a2a2a2;
}
.tstnl-p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #333;
}
.tstnl-name {
  align-self: flex-end;
  font-size: 1.2rem;
  color: #777;
}
.tstnl-container .bollet-points {
  position: relative;
  align-self: flex-start;
}
.tstnl-container .bollet-points .bollet-point {
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  border: 1px solid #999;
}
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.skill-item p {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.skill-perc {
  width: 100%;
  background-color: #cecece;
  height: 3rem;
}
.skill-perc span {
  height: 100%;
  display: block;
  position: relative;
  background-color: #19c8f8;
}
.skill-perc span::after {
  content: attr(prog);
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: -0rem;
  transform: translate(50%, -150%);
  background-color: #000000;
  color: #fff;
  padding: 0.4rem 0.4rem;
}
.skill-perc span::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0.8rem;
  right: 0;
  top: 0;
  transform: translate(50%, -92%);
  border-color: black transparent transparent transparent;
}
/*************************************************/
/* Quote */
/*************************************************/
.section-quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/quote.jpg");
  background-size: cover;
  background-position: start;
}
.quote-container {
  width: 80rem;
  margin: 0 auto;
}
.section-quote .quote-container {
  text-align: center;
}
.quote-text {
  font-size: 3.2rem;
  letter-spacing: 1px;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 2.4rem;
}
.quote-text::before {
  content: open-quote;
}
.quote-text::after {
  content: close-quote;
}
.quote-name {
  font-size: 1.6rem;
  color: #fff;
}
/*************************************************/
/* Pricing */
/*************************************************/
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
  justify-items: center;
  text-align: center;
  padding: 0 4.8rem;
  margin-bottom: 9.8rem;
}
.price-item {
  width: 100%;
}
.price-plan-heading {
  padding: 3.6rem 4.8rem;
  border-top: 1px solid #19c8f8;
  border-bottom: 1px solid #19c8f8;
}
.pricing-plan-type {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}
.pricing-plan-price {
  font-size: 4.2rem;
  font-weight: 600;
  position: relative;
  color: #333;
}
.pricing-plan-price::after {
  font-size: 1.6rem;
  content: "/MO";
  position: absolute;
  bottom: 0;
  right: -3rem;
}
.pricing-plan-price::before {
  content: "$";
  font-size: 1.6rem;
  position: absolute;
  left: -1.5rem;
  top: 0;
}
.price-plan-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  /* padding: 0 6.4rem; */
  border-bottom: 1px solid #19c8f8;
  margin-bottom: 3.6rem;
}
.price-plan-info li {
  display: inline-block;
  width: 60%;
}
.price-plan-info p {
  font-size: 1.8rem;
  padding: 2rem 0;
  border-bottom: 1px solid #19c8f8;
  color: #555;
}
.price-plan-info li:last-child p {
  border-bottom: none;
}
.buy-now {
  font-size: 1.8rem;
  color: #555;
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  border: 1px solid #19c8f8;
  cursor: pointer;
  transition: all 0.3s;
}
.buy-now:hover {
  background-color: #eee;
}
.contact-pricing {
  text-align: center;
}
.contact-pricing p {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 3.6rem;
}
.contact-pricing a:link,
.contact-pricing a:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  background-color: #19c8f8;
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.contact-pricing a:hover,
.contact-pricing a:active {
  background-color: #179ec4;
}
/*************************************************/
/* Pricing */
/*************************************************/
.secion-subscribe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../images/subscribe.jpg);
  padding: 9.8rem 4.8rem;
}
.subscribe-container {
  display: flex;
  align-items: center;
  gap: 9.8rem;
}
.subscribe-container form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscribe-container form input[type="email"] {
  font-size: 1.4rem;
  color: #fff;
  caret-color: #19c8f8;
  padding: 2rem 2rem 2rem 6rem;
  border: none;
  border-right: none;
  background-color: transparent;
  width: 70%;
}
form {
  border: 1px solid #fff;
}
.subscribe-container form input[type="email"]::placeholder {
  color: #eee;
}
.subscribe-container form input[type="submit"] {
  background-color: #19c8f8;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 2rem;
  border: none;
  cursor: pointer;
  border-left: none;
  width: auto;
}
.subscribe-container form input[type="submit"]:hover {
  background-color: #179ec4;
}
.subscribe-container form input[type="submit"]:focus,
.subscribe-container form input[type="email"]:focus {
  outline: none;
}
.subscribe-container form ion-icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.subscribe-container p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #fff;
}
/*************************************************/
/* Contact US  */
/*************************************************/
.contact-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2.4rem;
  margin-bottom: 4.8rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
.contact-grid-container form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form-name,
.form-email,
.form-massage {
  width: 100%;
  /* top | right | bottom | left */
  padding: 2rem 2rem 2rem 4rem;
  border: none;
  border: 1px solid #ccc;
}
.form-name::placeholder,
.form-email::placeholder,
.form-massage::placeholder {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.form-name:focus,
.form-email:focus,
.form-massage:focus {
  outline: none;
}
.form-massage {
  height: 20rem;
}
.phones {
  margin-bottom: 4.8rem;
}
.phones-header,
.address-header {
  font-size: 1.4rem;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.phone-number:link,
.phone-number:visited {
  text-decoration: none;
  color: #777;
  display: table;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.phone-number:hover,
.phone-number:active {
  color: #555;
  border-bottom: 1px solid currentColor;
}
.real-address {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #777;
}
.btn-sent-massage {
  padding: 1.6rem 3.2rem;
  background-color: #19c8f8;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-sent-massage:hover {
  background-color: #179ec4;
}
/*************************************************/
/* Footer  */
/*************************************************/
footer {
  padding: 9.8rem 4.8rem 4.8rem 4.8rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/subscribe.jpg");
}
.flex-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  margin-bottom: 2.4rem;
}
.social-text {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 3.6rem;
  position: relative;
}
.social-text::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  bottom: -1rem;
  left: 0;
}
.social-media-container {
  display: flex;
  margin-bottom: 4.8rem;
  gap: 1.2rem;
}
.social-logo {
  color: #fff;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.social-logo:hover {
  color: #19c8f8;
}
.footer-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer-text span {
  color: #19c8f8;
}
